.searchLabel {
  position: absolute;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.searchContainer {
  position: relative;
  display: grid;
  grid-template-columns: 6fr 4fr;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: auto;
}

.searchBox {
  display: flex;
  justify-content: center;
}

.searchInput {
  padding: 3px 8px;
  height: 2rem;
  width: 400px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
}

.filterContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 8px;
}

.filterCollege {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.resultContainer {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: auto;
}

.resultTitle {
  margin: 0;
}

.resultDescription {
  margin: 0;
}

.backToTop {
  text-align: center;
}


.placeholder {
  color: grey;
}

.multiselectContainer {
  /* position: absolute; */
  /* right: 0; */
  width: 350px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  list-style-type: none;
  background-color: white;
}

.multiselectToolbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;

  svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.filterItem {
  cursor: pointer;
  padding: 8px;
  border-top: 2px solid #737373;
  border-left: 2px solid #737373;
  border-right: 2px solid #737373;

  
  display: flex;
  gap: 10px;
  // width: fit-content;
  background-color: white;
}

.filterItem:last-child {
  border-bottom: 2px solid #737373;

}

.selectedFilterItem {
  list-style-type: none;
  padding: 4px 6px;
  // background-color: rgb(81, 255, 255);
  border: 2px solid #737373;

  border-radius: 10px;
  width: fit-content;
  display: flex;
  align-items: center;
  cursor: pointer;
}