@import '@/stories/_variables.scss';

.main {
  margin: 0 auto;
  padding: 0;
  max-width: unset;
}

.content {
  position: relative;
  ;
  margin-left: auto;
  margin-right: auto;
  padding: 0px $opm-spacing-600;
  max-width: 1080px;
}

.application__link {
  display: block;
  padding: 8px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  text-align: center;
  font-size: 1.1rem;
  font-weight: bold;
}

.values {
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  text-align: center;
  font-size: $opm-font-size-h2;
  font-style: italic;
}

.block__about,
.block__story,
.block__roles {
  margin-top: $opm-spacing-600;
}

.block__team {
  margin-top: 100px;
}

.block__team .content {
  max-width: 1080px;
}

.block__team__section {
  position: relative;
}

.block__team__section h3 {
  margin-top: $opm-spacing-500;
  margin-bottom: 0px;
  text-align: center;
}

.block__team__section>.team__list {
  margin-left: auto;
  margin-right: auto;
}

.block__team .header,
.block__alumni .header {
  margin-top: $opm-spacing-500;
  margin-bottom: $opm-spacing-500;
  text-align: center;
}

.team__header {
  padding: 8px 12px;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 20px;

}

.team__header--editorial {
  background-color: #F8E1CF;
}

.team__header--design {
  background-color: #E7F3E2;
}

.team__header--outreach {
  background-color: #FAD6E5;
}

.block__team__lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}


.block__alumni__lists {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block__alumni {
  padding-top: 200px;
  padding-left: $opm-spacing-600;
  padding-right: $opm-spacing-600;
  color: $opm-color-white;
  background: -moz-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  background: linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303030", endColorstr="#fffffc", GradientType=1);
}

.team__list,
.alumni__list {
  margin-bottom: 32px;
  width: fit-content;
  list-style-type: none;
}

.alumni__list {
  font-size: $opm-font-size-small;
  background-color: #49DF5866;
}

.team__list li,
.alumni__list li {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 500; // Between normal and bold
}

.svg__about {
  position: absolute;
  top: 100px;
  right: -300px;
  width: 600px;
  height: 600px;
  z-index: -1;
  fill: #5d86ed66;
}

.svg__roles {
  position: absolute;
  top: -100px;
  left: -200px;
  width: 800px;
  height: 800px;
  z-index: -1;
  fill: #ed5d9966;
}

.svg__editorial__bottom {
  position: absolute;
  bottom: -200px;
  right: -100px;
  width: 500px;
  height: 500px;
  z-index: -1;
  fill: #49DF5866;
}

.svg__design__bottom {
  position: absolute;
  left: -100px;
  width: 500px;
  height: 500px;
  z-index: -1;
  fill: #F8D80866;
}

html[data-theme="dark"] {
  .block__alumni {
    background: $opm-background-black;
    padding-top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  .block__alumni {
    background: $opm-background-black;
    padding-top: 0;
  }

  html[data-theme="light"] .block__alumni {
    padding-top: 200px;
    background: -moz-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
    background: linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303030", endColorstr="#fffffc", GradientType=1);
  }
}

@media screen and (max-width: 768px) {
  .content {
    padding: 16px;
  }

  .values {
    float: none;
    clear: both;
    width: 150px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
  }

  .block__alumni {
    padding-left: 0px;
    padding-right: 0px;
  }
}