@import '@/styles/variables.scss';

.main {
  margin: 0;
  padding: 0;
  max-width: unset;
}

.content {
  position: relative;;
  margin-left: auto;
  margin-right: auto;
  padding: 64px;
}

.values {
  float: left;
  clear: both;
  width: 300px;
  height: 300px;
  margin: 24px;
  padding: 16px;
  display: flex;
  align-items: center;
  text-align: center;
  border-radius: 50%;
  font-size: 24px;
  font-style: italic;
  color: white;
  background-color: $opm-background-black;
  shape-outside: circle(50%)
}

.values--right {
  float: right;
}

.values--center {
  float: initial;
  margin-left: auto;
  margin-right: auto;
}

.block_about, .block__story, .block__roles {
  position: relative;
}

.block__story,
.block__roles {
  margin-top: 100px;
}

.block__team {
  clear: both;
}

.block__team__section {
  position: relative;
}
.block__team__section h3 {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.block__team__section > .team__list {
  margin-left: auto;
  margin-right: auto;
}

.block__team .header, 
.block__alumni .header {
  margin-top: 32px;
  margin-bottom: 32px;
  text-align: center;
}

.block__team__lists,
.block__alumni__lists {
  padding-left: 64px;
  padding-right: 64px;
  // display: grid;
  // grid-template-columns: 1fr 1fr;
  // justify-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.block__alumni {
  margin-top: 100px;
  padding-top: 200px;
  padding-left: 64px;
  padding-right: 64px;
  color: $opm-color-white;


  background: -moz-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  background: linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303030", endColorstr="#fffffc", GradientType=1);
}

.team__list,
.alumni__list {
  margin-bottom: 32px;
  width: fit-content;
  list-style-type: none;
}

// .block__team__lists .team__list,
// .block__alumni__lists .alumni__list  {
//   margin-left: unset;
//   margin-right: unset;
// }

.alumni__list {
  font-size: 14px;
}

.team__list li,
.alumni__list li {
  margin-top: 4px;
  margin-bottom: 4px;
  font-weight: 500; // Between normal and bold
}

.svg__about {
  position: absolute;
  top: 100px;
  right: -300px;
  width: 600px;
  height: 600px;
  z-index: -1;
  fill: #5d86edaa;
}


.svg__roles {
  position: absolute;
  top: -100px;
  left: -200px;
  width: 800px;
  height: 800px;
  z-index: -1;
  fill: #ed5d99aa;
}

.svg__editorial__bottom {
  position: absolute;
  bottom: -200px;
  right: -100px;
  width: 500px;
  height: 500px;
  z-index: -1;
  fill: #49DF58aa;
}

.svg__design__bottom {
  position: absolute;
  left: -100px;
  width: 500px;
  height: 500px;
  z-index: -1;
  fill: #F8D808aa;
}