.fadeIn {
  animation-name: fadeIn;
  animation-duration: 3000ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fadeInBottom {
  animation-name: fadeInBottom;
  animation-duration: 1000ms;
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }

  to {
    opacity: 1;
  }
}

.fadeInHighlight {
  animation-name: fadeInHighlight;
  animation-duration: 6000ms;
}

@keyframes fadeInHighlight {
  0% {
    opacity: 0;
    background-color: #ffb7b7;
  }

  50% {
    background-color: initial;
  }

  100% {
    opacity: 1;
  }
}

.slide--horizontal {
  animation-name: slideHorizontal;
  animation-duration: 800ms;
}

@keyframes slideHorizontal {
  from {
    transform: translateX(0px);
  }
  
  to {
    transform: translateX(26px);
  }
}