.base {
  position: relative;
  /* background-color: teal; */
}

.base__genre {
  margin-top: 24px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.viewer {
  display: flex;
  height: auto;
  min-height: 40vw;
  max-height: 1080px;
  box-sizing: border-box;
  /* border: 1px solid black; */
  /* background-color: #eeeeeeaa; */
  overflow-x: hidden;
  overflow-y: clip;
}

.item {
  flex-shrink: 0;
  width: 100%;
  height: fit-content;
  min-height: inherit;
  transition: 1500ms ease-in-out;
  margin: 0; /* override homepage.block */ 
  padding-left: 16px;
  padding-right: 16px;
} 

.control {
  position: absolute;
  width: fit-content;
  bottom: 0;
}

.control--left {
  right: 0;
}
.control--right {
  left: 0;
}

.control__prev,
.control__next {
  margin-left: 8px;
  margin-right: 8px;
  background-color: initial;
  color: unset;
  border: unset;
  cursor: pointer;
  transform: scale(0.75);
}



// CarouselMobile

.mobile {
  height: 300px;
}

.mobile__scroll__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px;
  gap: 6px;
  width: 100vw;
}

.mobile__scroll__dot {
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: grey;
}

.mobile__track {
  scroll-snap-type: x mandatory;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: auto;
}

.mobile__item {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  position: relative;
  display: block;
  justify-content: center;
  margin-left: 12.5vw;
  margin-right: 12.5vw;
  height: 75vw;
  width: 75vw;

  background-size: cover;
  background-repeat: no-repeat;
}

.mobile__textbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 12.5vw;
  margin-bottom: 12.5vw;
  height: 50vw;
  background-color: #ffffff9c;
}

.mobile__textbox .title,
.mobile__textbox .creator {
  margin: 0;
  padding: 0;
  font-weight: bold;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.creator span {
  display: block;
  font-weight: 500;
}

.chip__wrapper {
  position: absolute;
  left: 4px;
  bottom: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 0px 8px;
}

@media screen and (min-width: 769px ) {
  .mobile {
    display: none;
  }
}