@import '@/stories/_variables.scss';

// CarouselMobile
.mobile {
  margin-top: 64px;
  min-height: 350px;
}

.mobile :global(.slick-track) {
  display: flex;
}

.mobile :global(.slick-slide) > div {
  margin: 0 16px;
}

.mobile :global(.slick-slide)[aria-hidden="true"] {
  filter: brightness(75%);
}

.mobile__scroll__container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 8px 0px;
  gap: 6px;
  width: 100vw;
}

.mobile__scroll__container li {
  list-style-type: none;
  height: 12px;
  width: 12px;
}

.mobile__scroll__container li button,
.mobile__scroll__dot {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  background-color: grey;
  font-size: 0px;
  // color: transparent;
}

.mobile__scroll__container li[class="slick-active"] button,
.mobile__scroll__dot--selected {
  background-color: $opm-background-black;
}

.mobile__track {
  scroll-snap-type: x mandatory;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  overflow-x: auto;
}


// .mobile__item {
//   scroll-snap-align: center;
//   scroll-snap-stop: always;
//   position: relative;
//   display: block;
//   justify-content: center;
//   margin: 0;
//   padding: 0;
//   height: 75vw;
//   width: 75vw;
//   text-decoration: none;
// }

.mobile__item {
  scroll-snap-align: center;
  scroll-snap-stop: always;
  height: 100vw;
  width: 75vw;
}

.mobile__item__wrapper {
  display: flex;
  flex-direction: column;
  height: inherit;
  overflow: hidden;
}

.mobile__item__content__title {
  text-align: center;
  flex: 0 1 auto;
}

.mobile__item__bg {
  flex: 1 0 auto;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (min-width: 769px) {
  .mobile {
    display: none;
  }
}