@import '@/styles/variables.scss';

.content {
  margin-top: $blockThree;
  padding-left: $blockThree;
  padding-right: $blockThree;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  h1 {
    font-weight: normal;
    margin: 0;
    padding: 0;
    margin-top: $blockFour;
    margin-bottom: $blockThree;
  }

  h3,
  h4 {
    line-height: 1.5rem;
  }

  img {
    width: 100%;
  }
}

.submissions-content {
  padding: $blockThree;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;

  h2 {
    font-size: 1.4rem;
    font-weight: normal;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    margin-top: $blockFour;
    margin-bottom: $blockThree;
  }

  h4 {
    opacity: 0.3;
    line-height: 1.2rem;
  }
}

.submissions-status {
  h4 {
    color: rgb(255, 153, 0);
    opacity: 1;
  }
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.showcase {

  max-width: 800px;

  h2 {
    text-transform: uppercase;
    font-weight: bold;
  }

  .subtitle {
    margin-top: 0px;
  }

  .collection {
    margin-bottom: 24px;
  }
}

.logo-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.staticGIF {
  max-width: 800px;
}

.showcase-grid {
  display: flex;
  padding-left: 0px;
  list-style-type: none;

  h3 {
    text-transform: uppercase;
    font-weight: bold;
  }

  li {
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px 16px;
    flex-grow: 1;
    flex-basis: 0;
    border-left: 2px solid #e7e7e7;
  }

  li:first-child {
    border-left: none;
  }

  p {
    text-align: left;
  }
}


@media only screen and (max-width: 728px) {
  .content {
    padding: $blockTwo;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .submissions-content {
    padding: $blockTwo;
    margin-left: 0;
    margin-right: 0;
  }

  .post-nav {
    padding: $blockThree $blockTwo $blockThree $blockTwo;
    display: flex;
  }

  .showcase-grid {
    display: block;

    li {
      border-left: none;
      border-bottom: 2px solid #e7e7e7;
    }
  }

  .staticGIF {
    max-width: 100%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .submissions-content {
    padding: $blockThree;
    margin-left: $blockFour;
    margin-right: $blockFour;
  }


}

@media screen and (min-width: 2400px) {

  .content,
  .submissions-content {
    padding: $blockThree;

  }
}