@import '@/styles/variables.scss';

// Main article layout for submissions, uc 
// identical to team-module
.submissions__content {
  padding: $blockThree;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;

  h2 {
    margin-top: $blockFour;
    margin-bottom: $blockThree;
  }
}

.submissions__status {
  margin: 0;
  font-family: $opm-font-basier;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: normal;
  color: rgb(255, 153, 0);
}

.submissions__footnote {
  margin: 0;
  font-family: $opm-font-basier;
  font-size: 0.8rem;
  text-transform: uppercase;
  line-height: normal;
  opacity: $opm-opacity-subtext;
}

@media only screen and (max-width: 728px) {
  .submissions__content {
    padding: $blockTwo;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .submissions__content {
    padding: $blockThree;
    margin-left: $blockFour;
    margin-right: $blockFour;
  }
}
