@import '@/stories/_variables.scss';

.base {
  position: relative;
  padding-top: 200px;
  padding-bottom: 64px;
  font-family: $opm-font-monospace;
  color: white;
  font-size: $opm-font-size-small;
  background: #303030;
}

.base p {
  font-size: $opm-font-size-small;
}

.base a {
  color: white;
}

.gradient {
  margin-top: 100px;
  background: -moz-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  background: linear-gradient(0deg, rgba(48, 48, 48, 1) 85%, rgba(255, 255, 252, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#303030", endColorstr="#fffffc", GradientType=1);
}

.base__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 0px 32px;
}

.newsletter_footer {
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 1.2rem;
}

.newsletter__label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.newsletter_footer hr {
  margin-top: 4px;
  margin-bottom: 16px;
  border-style: solid;
  border-width: 2px;
  width: 600px;
  max-width: 600px;
}

.newsletter__inputbox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 600px;
  // border: 2px solid white;
  // border-radius: 4px;
}

.newsletter__input__email {
  flex-grow: 1;
  padding-left: 16px;
  background-color: inherit;
  border: 2px solid white;
  border-radius: 3px;
  color: white;
  font-size: inherit;
}

.newsletter__input__email::placeholder {
  color: white;
}

.newsletter__submit {
  padding: 8px 16px;
  font-size: inherit;
  background-color: $opm-color-white;
  border-style: solid;
  border-radius: 5px;
  border-color: white;
  box-shadow: 2px 2px black;
}

.newsletter_homepage {
  margin: 32px;
  width: 400px;
  color: white;
}

.newsletter_homepage hr {
  display: none;
}

.newsletter_homepage .newsletter__inputbox {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  width: 100%;
}

.newsletter_homepage .newsletter__input__email {
  flex: 1 0 auto;
}

.newsletter_homepage .newsletter__submit {
  flex: 0 0 auto;
}

@media screen and (max-width: 768px) {
  .newsletter_homepage {
    margin: 4px;
    width: 80vw;
  }

  .newsletter_homepage .newsletter__label {
    font-size: 1rem;
  }
  .newsletter_homepage .newsletter__inputbox {
    font-size: 0.8rem;
  }
}


.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 16px 32px;
  border-top: 2px solid white;
}

.nav__header {
  font-weight: bold;
}

.nav__list {
  list-style-type: none;
}

.nav__list__item {
  text-decoration: underline;
  margin-top: 8px;
}


.base__copyright {
  margin-top: 20px;
  text-align: center;
}

.opm__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 80px;
  height: 50px;
  fill: white;
}

.base__copyright__text {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-family: monospace;
  text-transform: uppercase;
  line-height: initial;
}

.more {
  position: relative;
  text-align: center;
}

.more hr {
  margin-top: 4px;
  margin-bottom: 16px;
  border-style: solid;
  border-width: 2px;
  max-width: 60%;
}

.more__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.more__block {
  padding: 16px 32px;
  text-align: center;
  border-right: 3px solid white;
}

.more__block:last-child {
  border-right: none;
}

.base .more__block__heading {
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.team__app__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 16px;
  text-transform: uppercase;
  text-align: center;
}

.team__app__list p {
  margin: 0;
}


.svg--accent {
  position: absolute;
  z-index: 1;
  transform: rotate(25deg);
}


// THEME

html[data-theme="dark"] .base {
  padding-top: 0;
}

html[data-theme="dark"] .gradient {
  background: $opm-background-black;
}

@media (prefers-color-scheme: dark) {
  .base {
    padding-top: 0;
  }

  .gradient {
    background: $opm-background-black;
  }
}

// RESPONSIVE
@media screen and (max-width: 768px) {

  .base,
  .base p {
    font-size: 12px;
  }

  .base .more__block__heading,
  .newsletter_footer,
  .newsletter__label {
    font-size: 1.2rem;
  }

  .base__content {
    padding: 0px 8px;
  }

  .more__grid {
    grid-template-columns: 1fr;
  }

  .more__block {
    border-right: none;
    border-bottom: 6px solid white;
  }

  .more__block:last-child {
    border-bottom: none;
  }

  .newsletter__inputbox {
    flex-direction: column;
    padding: 8px 16px;
    width: 90%;
  }

  .newsletter__input__email {
    padding: 8px 16px;
  }

  .newsletter__submit {
    padding: 8px 12px;
  }

  .nav {
    grid-template-columns: 1fr 1fr;
  }

  .svg--accent {
    transform: rotate(25deg) scale(0.5) translate(50px, -50px);
  }
}