@import '@/stories/_variables.scss';

.base {
  position: relative;
  padding: 64px 0;
  font-family: $opm-font-monospace;
  color: var(--light-text-color);
  font-size: $opm-font-size-small;
}

.base p {
  font-size: $opm-font-size-small;
}

.base a {
  color: var(--light-text-color);
}

.base__content {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
  padding: 0px 32px;
}


.newsletter_footer {
  margin-top: 48px;
  margin-bottom: 48px;
  font-size: 1.2rem;
}

.newsletter__label {
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.5rem;
}

.newsletter_footer hr {
  margin-top: 4px;
  margin-bottom: 16px;
  border-style: solid;
  border-width: 2px;
  width: 600px;
  max-width: 600px;
}

.newsletter__inputbox {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px 32px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  max-width: 600px;
}

.newsletter__input__email {
  flex-grow: 1;
  padding-left: 16px;
  background-color: inherit;
  font-size: inherit;
  font-family: $opm-font-monospace;
}

// .newsletter__input__email::placeholder {
//   color: $opm-color-white;
// }

.newsletter__submit {
  padding: 8px 16px;
  font-size: inherit;
  font-family: $opm-font-monospace;
  background-color: var(--background-color);
  border: 1px solid var(--light-text-color);
  border-radius: 5px;
  border-color: var(--background-color);
  cursor: pointer;
}

.newsletter_homepage {
  margin: 32px;
  width: 400px;
}

.newsletter_homepage .newsletter__inputbox {
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0;
  margin-top: 8px;
  padding: 0;
  width: 100%;
}

.newsletter_homepage .newsletter__input__email {
  flex: 1 0 auto;
  border: 1px solid var(--light-text-color);
  color: var(--light-text-color);
}

.newsletter_homepage .newsletter__input__email::placeholder {
  color: var(--light-text-color);
}

.newsletter_homepage .newsletter__submit {
  flex: 0 0 auto;
  color: var(--light-text-color);
  border-color: var(--light-text-color);
  box-shadow: 2px 2px 5px 0px var(--light-text-color);
}

@media screen and (max-width: 768px) {
  .newsletter_homepage {
    margin: 24px;
    width: 80%;
  }

  .newsletter_homepage .newsletter__label {
    font-size: 20px;
  }
  .newsletter_homepage .newsletter__inputbox {
    font-size: 14px;
  }
}


.nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  border-top: 1px solid var(--border-color);
}

.nav__header {
  font-weight: bold;
}

.nav__list {
  list-style-type: none;
}

.nav__list__item {
  text-decoration: underline;
  margin-top: 8px;
}


.base__copyright {
  margin-top: 64px;
  text-align: center;
}

.opm__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 80px;
  height: 50px;
  fill: var(--light-text-color);
}

.base__copyright__text {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  font-family: monospace;
  text-transform: uppercase;
  line-height: initial;
}

.more {
  position: relative;
  text-align: center;
}


.more__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
}

.more__block {
  padding: 16px 32px;
  text-align: center;
  // border-top: 1px solid var(--border-color);
  // border-right: 3px solid var(--border-color);
}

.more__block:last-child {
  border-right: none;
}

.base .more__block__heading {
  margin-bottom: 16px;
  font-size: 1.5rem;
}

.team__app__list {
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 16px;
  text-transform: uppercase;
  text-align: center;
}

.team__app__list p {
  margin: 0;
}

// RESPONSIVE
@media screen and (max-width: 768px) {
  .base,
  .base p {
    font-size: 12px;
  }

  .base .more__block__heading,
  .newsletter_footer,
  .newsletter__label {
    font-size: 1.2rem;
  }

  .base__content {
    padding: 0px 8px;
  }

  .more__grid {
    grid-template-columns: 1fr;
  }

  .more__block:last-child {
    border-bottom: none;
  }

  .newsletter__inputbox {
    flex-direction: column;
    padding: 8px 16px;
    width: 90%;
  }

  .newsletter__input__email {
    padding: 8px 16px;
  }

  .newsletter__submit {
    padding: 8px 12px;
  }

  .nav {
    grid-template-columns: 1fr 1fr;
    justify-items: start;
  }
}