@import '@/stories/_variables.scss';
@import '@/stories/_variables.css';

@font-face {
  font-family: "basier_circlemonoregular";
  src: url("/fonts/basiercirclemono/basiercirclemono-regular-webfont.eot");
  src: url("/fonts/basiercirclemono/basiercirclemono-regular-webfont.eot") format("embedded-opentype"),
    url("/fonts/basiercirclemono/basiercirclemono-regular-webfont.woff2") format("woff2"),
    url("/fonts/basiercirclemono/basiercirclemono-regular-webfont.woff") format("woff"),
    url("/fonts/basiercirclemono/basiercirclemono-regular-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "b612mono";
  src: url("/fonts/b612mono/B612Mono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.hidden {
  display: none;
}

html, body {
  width: 100vw;
  overflow-x: hidden;
}

body {
  margin: auto;

  background: var(--background-color);
  color: var(--light-text-color);
  font-family: $opm-font-arial;
  font-weight: 100;
  font-size: $opm-font-size-body;

  padding: 0;
  padding-top: 110px;

  transition: background-color 0.8s ease-in-out;

  ::selection {
    background: #ffb7b7;
  }

  ::-moz-selection {
    background: #ffb7b7;
  }
}

main {
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;

  button {
    cursor: pointer;
  }
}

.main__landing {
  margin-left: auto;
  margin-right: auto;
  padding: 64px;
  max-width: 1440px;
}

h1, .text--heading_1 {
  font-family: $opm-font-helvetica;
  font-size: $opm-font-size-h1;
  font-weight: $opm-font-weight-bold;
}

h2, .text--heading_2 {
  font-family: $opm-font-helvetica;
  font-size: $opm-font-size-h2;
  font-weight: $opm-font-weight-bold;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}

h3, .text--heading_3 {
  font-family: $opm-font-helvetica;
  font-size: $opm-font-size-h3; 
  font-weight: $opm-font-weight-bold;
  text-transform: uppercase;
}

h3 {
  font-family: $opm-font-arial;

  font-size: 1rem;
  font-weight: $opm-font-weight-normal;
  margin: 0;
  padding: 0;
}

h4 {
  font-family: $opm-font-helvetica;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: $opm-font-weight-normal;
  margin: 0;
  padding: 0;
}

.text__landing--heading_1 {
  font-size: $opm-font-size-largest;
  text-align: center;
  text-transform: uppercase;
}


.title__accent {
  position: relative;
}

.text--shadow {
  text-shadow: 0px 20px var(--light-text-color);
}

p {
  font-size: $opm-font-size-body;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: ">   ";
}

a {
  color: var(--light-text-color);
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

button {
  background-color: inherit;
  border: none;
  color: var(--light-text-color);
}

sup {
  font-family: "basier_circlemonoregular";
  text-transform: uppercase;
  font-weight: var(--opm-font-weight-normal);
  margin: 0;
  padding: 0;
  color: rgb(255, 153, 0);
}

iframe {
  max-width: 980px;
}

html,
html[data-theme="light"] {
  --background-color: var(--opm-background-white);
  --light-text-color: var(--opm-color-grey-darkest);
  --border-color: var(--opm-background-black);
  --button-background: #ffb94f;
  --button-outline: #151515;
}

// If a page is intentionally meant to be viewed dark
// Example: blackout prose
html[data-theme="dark"] {
  --background-color: var(--opm-background-black);
  --light-text-color: var(--opm-color-white);
  --border-color: var(--opm-background-white);
  --button-background: #ff9900;
  --button-outline: #ffffff;
}

@media (prefers-color-scheme: dark) {
  // If a page is intentionally meant to be viewed light
  html[data-theme="light"] {
    --background-color: var(--opm-background-white);
    --light-text-color: var(--opm-color-grey-darkest);
    --border-color: var(--opm-background-black);
    --button-background: #ffb94f;
    --button-outline: #151515;
  }

  html,
  html[data-theme="dark"] {
    --background-color: var(--opm-background-black);
    --light-text-color: var(--opm-color-white);
    --border-color: var(--opm-background-white);
    --button-background: #ff9900;
    --button-outline: #ffffff;
  }
}

@media only screen and (max-width: 768px) {
  h1, 
  .text--heading_1, 
  .text__landing--heading_1 {
    font-size: $mobile-font-size-h1;
  }

  h2,
  .text--heading_2 {
    font-size: $mobile-font-size-h2;
  }
  
  .text__landing--heading_1 .text--shadow{
    text-shadow: 0px 15px inherit;
  }

  .main__landing {
    padding: 16px;
  }

}