@import '@/stories/_variables.scss';

// [1] Header component
// [2] ThemeToggle component

// [1] Header component
.base {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  box-sizing: border-box;
  padding: $opm-spacing-300 $opm-spacing-600;
  z-index: $opm-zindex-header;
  width: 100%;
  background-color: var(--background-color);
  animation: 1s ease-out 0s 1 slideInFromTop;
  transition: top 0.3s ease-in-out, background-color 0.8s ease-in-out;
}

.logo {
  text-decoration: none;
}

.toolbar {
  margin-left: auto;
  display: flex;
  align-items: center;
}

.toolbar button {
  background-color: initial;
  color: unset;
  cursor: pointer;
}

.search__wrapper {
  display: inline-block;
  margin-left: 24px;
  margin-right: 24px;
  padding: 0px 4px;
}

.search__icon {
  stroke: $opm-color-black;
  width: 22px;
  height: 24px;
}

.logo,
.menu,
.menu__close {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__close {
  color: $opm-color-white;
}

.overlay__header {
  position: relative;
  display: flex;
  align-items: flex-end;
  padding: $opm-spacing-300;
  left: 0;
  right: 0;
}

.overlay__search {
  padding: 32px;
}

.nav-up {
  top: -150px;
}

.opm__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 8px;
  width: 80px;
  height: 50px;
  fill: $opm-color-white;
}

.toolbar__linklist {
  list-style-type: none;
  display: flex;
  gap: 16px;

}

.toolbar__linklist>li>button {
  padding: 0;
  font-size: 1rem;

}

.toolbar__linklist>li>a {
  text-decoration: none;
}


@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .base {
    padding: 16px;
  }

  .logo {
    height: 28px;
  }

  .toolbar__linklist {
    gap: 0px;
  }

  .toolbar__linklist>li>a {
    display: none;
  }

  .menu,
  .menu__close {
    font-size: 20px;
  }

  .search__icon {
    height: 24px;
    width: 24px;
  }
}

html[data-theme="dark"] .search__icon {
  stroke: $opm-color-white;
}

@media (prefers-color-scheme: dark) {
  .search__icon {
    stroke: $opm-color-white;
  }
}

// [2] ThemeToggle component
.theme__btn {
  position: relative;
  display: inline-flex;
  height: 26px;
  width: 60px;
  border: 1px solid #ABA7A7;
  border-radius: 45px;
}

.theme__btn__wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.theme__star {
  position: absolute;
  left: 0px;
  height: 20px;
  width: 20px;
  top: 50%;
  transform: translateY(-50%);
  stroke: $opm-color-white;
  fill: var(--background-color);
  animation-duration: 800ms;
}

.theme__sun {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0px;
  height: 20px;
  width: 20px;
  animation-duration: 800ms;
}

.theme__logo {
  position: absolute;
  top: calc(50% - 10px);
  left: 6px;
  z-index: 1;
  height: 20px;
  width: 20px;
  stroke: black;
  fill: black;
  transition: transform 800ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,
    stroke, fill 400ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.theme__logo--dark {
  transform: translateX(26px);
  stroke: $opm-color-white;
  fill: $opm-color-white;
}


html[data-theme="light"] .theme__star {
  display: none;
}

@media (prefers-color-scheme: light) {
  html[data-theme="light"] .theme__star {
    display: none;
  }
}

html[data-theme="dark"] .theme__sun {
  display: none;
}

@media (prefers-color-scheme: dark) {
  html[data-theme="dark"] .theme__sun {
    display: none;
  }

  html[data-theme="light"] .search__icon {
    stroke: $opm-color-black;
  }
}