@import '@/styles/variables.scss';

.base {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: 16px;
  z-index: $opm-zindex-header;
  width: 100%;
  background-color: white;
  animation: 1s ease-out 0s 1 slideInFromTop;
  transition: top 0.3s ease-in-out, background-color 0.8s ease-in-out;
}

.toolbar {
  margin-left: auto;
}

.toolbar button {
  background-color: initial;
  color: unset;
  border: unset;
  cursor: pointer;
}

.searchIcon svg {
  margin-right: 16px;
  transform: scale(0.65) translate(0px, 12px);
}

.menu {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
}


.nav-up {
  top: -150px;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {
  .menu {
    font-size: $mobile-font-size-h2;
  }
}