@import '@/stories/_variables.scss';

.base {
  position: fixed;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding: $opm-spacing-300;
  z-index: $opm-zindex-header;
  width: 100%;
  background-color: var(--background-color);
  animation: 1s ease-out 0s 1 slideInFromTop;
  transition: top 0.3s ease-in-out, background-color 0.8s ease-in-out;
}

.logo {
  width: 70px;
  height: 54px;
}

.toolbar {
  margin-left: auto;
  display: flex;
  align-items: flex-end;
}

.toolbar button {
  background-color: initial;
  color: unset;
  border: unset;
  cursor: pointer;
}

.search__wrapper {
  display: inline-block;
  margin-right: 16px;
  width: 44px;
  height: 44px;
}

.search__wrapper svg {
  height: 95%;
  width: 95%;
}

.menu,
.menu__close {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
}

.menu__close {
  color: $opm-color-white;
}

.overlay__header {
  position: relative;
  display: flex;
  align-items: center;
  padding: $opm-spacing-300;
  left: 0;
  right: 0;
}

.overlay__search {
  padding: 32px;
}

.nav-up {
  top: -150px;
}

@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: 768px) {

  .base {
    padding: 8px;
  }

  .logo {
    height: 32px;
  }

  .menu,
  .menu__close {
    font-size: 20px;
  }

  .search__wrapper {
    height: 32px;
    width: 32px;
  }
}