@import '@/stories/_variables.scss';

.text--h1 {
  font-size: 2rem;
  text-transform: uppercase;
}

.text--h2 {
  font-size: 1.5rem;
  font-weight: bold;
}


.main {
  z-index: 2;
  max-width: unset;
}

.hero {
  position: relative;
  display: flex;
  height: 100vh;
  align-items: center;
  flex-direction: row-reverse;
}

.hero__text {
  text-align: right;
  max-width: 700px;
  padding-right: 64px;
  flex: 1 0 0;
  font-size: 3rem;
  font-weight: bold;
  font-family: Helvetica, sans-serif;
}

.hero__img__container {
  position: absolute;
  left: -150px;
  height: 750px;
  width: 750px;
  z-index: -1;
}

.animate--rotate {
  animation: rotate 30s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


.collection__block {
  position: relative;
  height: 95vh;
}

.collection__block__text {
  flex: 1 1 auto;
  text-align: right;
}

.collection__block__text p {
  margin: 8px 0;
}

.collection__date {
  font-weight: 400;
}

.collection__number {
  font-weight: 400;
}

.collection__title {
  font-weight: 600;
}


.collection__block__hr {
  margin-left: auto;
  margin-right: 0;
  margin-top: 16px;
  margin-bottom: 16px;
  width: 100px;
  border-width: 3px;
  border-style: solid;
}

.block__img__container {
  // flex: 0 1 fit-content;
  position: relative;
  min-width: 40vw;
  max-width: 80vw;
  height: 75vh;
}

.block__img__caption {
  position: absolute;
  bottom: -20px;
  z-index: 1;
}

.img__cover {
  object-fit: contain;
}

@media screen and (max-width: 768px) {
  .collection__block {
    font-size: 16px;
  }

  .collection__block__text {
    text-align: center;
  }

  .collection__block__hr {
    margin-left: auto;
    margin-right: auto;
  }

  .collection__block__text p {
    font-size: 16px;
  }

  .block__img__container {
    margin-left: auto;
    margin-right: auto;
  }
}





.headline {
  color: purple;
  width: 80%;
  margin-top: 64px;
  cursor: pointer;
  text-decoration: underline;
}

.headline__text {
  text-transform: uppercase;
  margin-left: 64px;
  margin-right: 64px;
  width: fit-content;
  font-size: 32px;
}

.headline__text--right {
  float: right;
}

.genre__container {
  position: relative;
}

.genre__container--right .headline {
  text-align: right;
  margin-left: auto;
}

.genre__hr {
  border-style: solid;
  border-width: 3px;
  color: purple;
  width: 80%;
}

.genre__hr--right {
  margin-left: auto;
}

.genre__content {
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.genre__content__overlay {
  position: relative;
  margin-top: -240px;
  width: 100vw;
  height: 250px;
  background: linear-gradient(rgba(255, 255, 255, 0), rgb(255, 255, 255));

}

.carousel {
  height: 600px;
  background-color: #eee;
}


.ui3_section__covers {
  display: flex;
}

.ui3_headline {
  max-width: 100%;
  margin: 32px 0;
  background-color: pink;
}

.ui3_marquee {
  display: flex;
  justify-content: space-around;
  padding: 8px;
  min-width: 200vw;
  animation: slide 20s linear infinite;
  overflow: hidden;
  font-family: $opm-font-monospace;
  white-space: nowrap;
}

@keyframes slide {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}



.flipbook__container {
  width: 100%;
}

.flipbook__track {
  display: flex;
  gap: 24px;
  overflow: hidden;
  justify-content: center;
}

.flipbook__frame {
  position: relative;
  width: 300px;
  height: 450px;
  box-sizing: border-box;
  border: 3px solid black;
}

.flipbook__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 24px;
}

.flipbook__grid .flipbook__frame {
  width: 40vw;
  height: 30vh;

}

.section__newsletter {
  clear: both;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  padding: 32px;
  width: 80%;
  height: 50vh;
  border-radius: 10px;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: scale-down;
}

@media screen and (max-width: 768px) {
  .hero__img__container {
    left: -50vw;
  }

  .flipbook__desktop {
    display: none;
  }

  .section__newsletter {
    background-image: url('/images/cover/newsletter-mobile.webp');
  }
}

@media screen and (min-width: 769px) {
  .flipbook__mobile {
    display: none;
  }

  .collection__block {
    display: grid;
    grid-auto-flow: dense;
    align-items: flex-end;
    height: fit-content;
  }
  .collection__block__text {
    grid-column: 1;
  }
  .collection__block .block__img__container {
    grid-column: 2;
  }

  .section__newsletter {
    flex-direction: column;
    height: 200px;
    background-image: url('/images/cover/newsletter-desktop.webp');
  }
}

.ui3_section__featured,
.ui3_section__flipbook,
.ui3_section__post_selector {
  position: relative;
}

.svg--accent {
  position: absolute;
  z-index: -10;
}