@import '@/stories/_variables.scss';

.main {
  z-index: 2;
  max-width: unset;
}

.hero {
  margin-top: 24px;
}

.hero__imgbox {
  margin: 0;
  position: relative;
  width: 100vw;
  height: 200px;
}

.hero__img_placeholder {
  position: absolute;
  width: 200px;
  height: 200px;
  border: 1px solid #30303044;
  border-radius: 50%;
  box-shadow: 4px 4px 25px 5px #30303033;
  background-size: contain;
  background-position: center center;
}


@media screen and (max-width: 768px) {
  .hero--desktop {
    display: none;
  }

  .hero__textbox {
    margin-top: 24px;
    margin-bottom: 24px;
    text-align: center;
  }

  .hero__textbox p {
    margin: 0;
    padding: 0;
  }

  .hero__textbox hr {
    margin: 0;
  }

  .hero__text--h1 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 12px;
    font-family: $opm-font-gothic_bold;
  }

  .hero__img_placeholder1 {
    left: 50px;
    // background-image: url("/images/cover/collection-1-cover.webp");
  }

  .hero__img_placeholder2 {
    right: 50px;
    // background-image: url("/images/cover/self-identity-cover-kristy-lee.webp");
  }

  .block__img__container {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
}

@media screen and (min-width: 769px) {
  .hero {
    height: 100vh;
  }

  .hero--mobile {
    display: none;
  }

  .hero__imgbox {
    display: grid;
    grid-template-columns: repeat(20, 5vh);
    grid-template-rows: repeat(16, 5vh);
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
  }

  .hero__img_placeholder {
    width: 60vh;
    height: 60vh;
  }


  .hero__img_placeholder1 {
    grid-area: 2 / 4 / -12 / -12;
    // background-image: url("/images/cover/collection-1-cover.webp");
  }

  .hero__img_placeholder2 {
    grid-area: 6 / 8 / 10 / 10;
    // background-image: url("/images/cover/self-identity-cover-kristy-lee.webp");
  }

  .hero__textbox {
    margin: 0;
    grid-area: 14 / 1 / -1 / -3;
    font-size: 3rem;
  }
}

// Sections



// Newsletter
.section__newsletter {
  clear: both;
  position: relative;
  display: grid;
  grid-template-rows: 9fr 1fr;
  align-items: center;
  justify-items: center;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  max-width: 1080px;
  height: 80vh;
  border-radius: 10px;
  background-image: none;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: scale-down;
  overflow: hidden;
}

.newsletter__previews {
  display: grid;
  grid-template-columns: repeat(12, 50px);
  grid-template-rows: repeat(6, 50px);
  border: 1px solid black;
}

.newsletter_1 {
  grid-area: -3 / 1;
}

.newsletter_2 {
  grid-area: 1 / 4;
}

.newsletter_3 {
  grid-area: 3 / 7;
}

@media screen and (max-width: 768px) {
  .hero__img__container {
    left: -50vw;
  }

  .flipbook__desktop {
    display: none;
  }
}

@media screen and (min-width: 769px) {
  .flipbook__mobile {
    display: none;
  }

  .section__newsletter {
    grid-template-columns: 1fr 1fr;
    justify-items: end;
    height: 300px;
  }
}

.featured__btn_link {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 8px 24px;
  width: fit-content;
  text-decoration: none;
  font-weight: bold;
  color: $opm-color-white;
  background-color: #F8B67F;
  border-radius: 20px;
  border: 2px solid #222;
  border-width: 2px 4px 4px 2px;
}

.svg--accent {
  position: absolute;
  z-index: -10;
}


html[data-theme="dark"] .hero__img__container svg {
  fill: $opm-color-white;
  stroke: $opm-color-white;
}

@media (prefers-color-scheme: dark) {
  .hero__img__container svg {
    fill: $opm-color-white;
    stroke: $opm-color-white;
  }


  html[data-theme="light"] .hero__img__container svg {
    fill: $opm-color-black;
    stroke: $opm-color-black;
  }

}