@import '@/styles/variables.scss';

.cover__img {
  width: 100%;
  height: 550px;
  object-fit: cover;
  animation: fadeIn__img 2s;
  -moz-animation: fadeIn__img 2s;
  -webkit-animation: fadeIn__img 2s;
  -o-animation: fadeIn__img 2s;
}

.cover__link {
  text-decoration: none;
  color: #585858
}

.cover__link:hover {
  color: #000;
}

.cover__credits {
  margin: 0;
  padding-top: $blockTwo;
  padding-right: $blockThree;
  padding-bottom: $blockTwo;
  font-family: $opm-font-basier;
  font-size: 0.8rem;
  line-height: normal;
  text-transform: uppercase;
  text-align: right;
  color: inherit;
}


.index__title,
.keep__reading,
.page__title {
  padding-left: $blockThree;
}

.page__title {
  margin-top: $blockThree;
}

.keep__reading {
  margin-top: $blockFive;
  font-size: $opm-font-size-h1;
  text-transform: capitalize;
}

@media only screen and (max-width: 728px) {

  .index__title,
  .keep__reading,
  .page__title {
    padding-left: $blockTwo;
  }

  .cover__img {
    height: 350px;
  }
  .cover__credits {
    padding-left: $blockTwo;
    padding-right: $blockTwo;
  }
}

@keyframes fadeIn__img {
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn__img {

  /* Firefox */
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn__img {

  /* Safari and Chrome */
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}

@-o-keyframes fadeIn__img {

  /* Opera */
  from {
    opacity: 0.3;
  }

  to {
    opacity: 1;
  }
}