@import '@/styles/variables.scss';

// MOBILENAV
.menu,
.menu__close {
  margin-left: auto;
  margin-right: 0px;
}

.menu__close {
  font-family: Helvetica, sans-serif;
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  color: $opm-color-white;
}

.menu:hover,
.menu__close:hover {
  text-decoration: underline;
  cursor: pointer;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: #151515;
  color: $opm-color-white;

  overflow-x: hidden;
  transition: 0.3s;
  overflow-y: hidden;

  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.overlay__header {
  position: relative;
  display: flex;

  padding: 16px;
  left: 0;
  right: 0;
  color: #fff;


  ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
  }
}

.toolbar {
  margin-left: auto;
}

.toolbar button {
  background-color: initial;
  color: unset;
  border: unset;
  cursor: pointer;
}

.searchIcon {
  margin-right: 16px;
  transform: scale(0.65) translate(0px, 12px);
}

.nav__content {
  padding: $blockThree;
  color: $opm-color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 32px;
}

.nav__content h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #919191;
  text-transform: capitalize;
}

.nav__list {
  font-family: $opm-font-arial;
  margin: 0 0;
  padding-left: 0px;
  font-size: 2rem;
  font-weight: bold;
  list-style: none;

  .external {
    display: flex;
    align-items: flex-end;
  }

  a:hover #arrowRight {
    margin-left: $blockTwo;
  }
}

.nav__list li {
  margin-top: 24px;
  margin-bottom: 24px;
}

.nav__content {
  .nav__list a:hover svg {
    margin-left: $blockTwo;
  }
}

.footer {
  padding: 0;
  margin-top: $blockThree;
  margin-bottom: $blockThree;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;

  svg {
    fill: $opm-color-white;
    display: block;
    width: 5rem;

  }
}

@media only screen and (max-width: 1024px) {

  .overlay__header,
  .nav__content {
    grid-template-columns: 1fr 1fr;
    padding: $blockThree;
  }
}


@media only screen and (max-width: 728px) {
  .overlay {
    overflow: auto;
  }
  
  .overlay__header,
  .nav__content {
    padding: $blockTwo;
  }

  .nav__content {
    flex-direction: column;
  }

  .menu__close,
  .nav__list li {
    font-size: $mobile-font-size-h2;
  }

  .search {
    margin-top: $blockOne;
  }

  .footer__socials {
    max-width: 300px;
    column-gap: $opm-spacing-100;

    svg {
      transform: scale(1);
      font-size: 48px;
    }
  }
}