@import '@/stories/_variables.scss';

// MOBILENAV
.menu,
.menu__close {
  margin-left: auto;
  margin-right: 0px;
}


.menu:hover,
.menu__close:hover {
  cursor: pointer;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  background-color: $opm-background-black;
  color: $opm-color-white;

  overflow-x: hidden;
  transition: 0.3s;
  overflow-y: hidden;
  
  a {
    color: #fff;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.nav__content {
  padding: $opm-spacing-500;
  color: $opm-color-white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 32px;
}

.nav__content h3 {
  font-size: 2rem;
  font-weight: bold;
  color: #919191;
  text-transform: capitalize;
}

.nav__list {
  font-family: $opm-font-arial;
  margin: 0 0;
  padding-left: 0px;
  font-size: 2rem;
  font-weight: bold;
  list-style: none;

  .external {
    display: flex;
    align-items: flex-end;
  }

  a:hover #arrowRight {
    margin-left: $opm-spacing-300;
  }
}

.nav__list li {
  margin: 24px 0px;
}

.nav__content {
  .nav__list a:hover svg {
    margin-left: $opm-spacing-300;
  }
}

.footer {
  padding: 0;
  margin-top: $opm-spacing-500;
  margin-bottom: $opm-spacing-500;

  display: flex;
  flex-direction: column;
  align-items: center;
  
  text-align: center;
}

.footer p {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .overlay__header,
  .nav__content {
    grid-template-columns: 1fr 1fr;
    padding: $opm-spacing-500;
  }
}


@media only screen and (max-width: 728px) {
  .nav__content {
    padding: $opm-spacing-300;
    gap: 16px
  }

  .nav__content {
    flex-direction: column;
  }

  .nav__list li {
    font-size: $mobile-font-size-h2;
  }

  .nav__list li {
    margin: 16px 0px;
  }

  .search {
    margin-top: $opm-spacing-0;
  }

  .footer {
    margin-top: 8px;
  }

  .footer p {
    font-size: 14px;
  }
}