@import '@/styles/variables.scss';

.genre__main {
  margin-top: 24px;
  padding: 0;
  max-width: unset;
}
.genre__header__row {
  margin-top: 8px;
  // margin-bottom: 8px;
}
.genre__header__line {
  margin: 0;
  margin-top: -3px;
  border: none;
  border-bottom: 3px solid black;
}

.genre__header__link {
  position: relative;
  display: block;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0;
  width: fit-content;
  text-transform: uppercase;
  font-family: $opm-font-apple;
  font-size: 24px;
  font-weight: 500;
  border: 3px solid black;
  border-bottom: none;
  border-top-left-radius: 20px 30px;
  border-top-right-radius: 20px 30px;
  box-sizing: border-box;
  background-color: $opm-background-white;
  text-decoration: none;
}

.genre__header__fiction {
  margin-top: -24px;
  margin-left: 40%;
}

.genre__header__nonfiction {
  margin-top: -24px;
  margin-left: 20%;
}

.genre__header__arts {
  margin-top: -24px;
  margin-left: 60%;
}

.genre__header__poetry {
  margin-top: -24px;
  margin-left: 50%;
}

.genre__nav {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
}
.genre__nav button {
  font-size: 18px;
  font-weight: bold;
}

.post__content {
  margin-top: $blockThree;
  padding-left: $blockThree;
  padding-right: $blockThree;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  img {
    width: 100%;
  }
}

.post__title {
  margin-top: $blockFour;
  margin-bottom: $blockThree;
}

.genre__grid {
  margin: 32px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  box-sizing: border-box;
  border: 2px solid black;
  background-color: $opm-background-white;
}

.genre__grid::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: inherit;
  transform: rotate(-1deg);
  z-index: -1;
}

.genre__post__link {
  position: relative;
  padding: 32px;
  min-height: 70px;
  text-decoration: none;
  font-weight: 500;
  border-top: 2px solid black;
  box-sizing: content-box;
}

.genre__post__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 10%;
  right: 1px;
  width: 1px;
  height: 80%;
  background: black;
}

.post__link:hover h2 {
  text-decoration: underline;
}

.title--small {
  font-size: 1.1rem;
}

.genre__post__author {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 8px;
  text-align: right;
}

.genre__title {
  padding-left: $blockThree;
  margin-top: $blockThree;
  font-size: $opm-font-size-h2;
  opacity: 0.5;
}


.thumb {
  position: relative;

  img {
    position: relative !important; // For Next/Image using fill
    width: 100%;
    object-fit: contain;
  }
}

.meta {
  opacity: 0.5;
}

.gold {
  color: #ff9900;
}

.copyright-footer {
  margin-top: $blockThree;
  opacity: 0.3;

  h4 {
    line-height: 1.2rem;
  }
}

.post-nav {
  padding: $blockFour;
  display: flex;

  a {
    color: $bodyColor;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.post-nav div {
  /* flex-grow, flex-shrink, flex-basis */
  flex: 1 1 0;
}

.post-nav-next {
  text-align: right;
}

.cr-article {
  margin-top: 16px;
}

@media only screen and (max-width: 728px) {

  .post__content {
    padding: $blockTwo;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }


  .genre__grid {
    grid-template-columns: 1fr;
  }

  .genre__post__link h2 {
    font-size: 1rem;
  }

  .genre__post__link:first-child {
    border-top: none;
  }

  .genre__post__link::after {
    display: none;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .genre__post__link h2 {
    font-size: 1rem;
  }

  .genre__grid {
    grid-template-columns: 1fr 1fr;
  }

  .genre__post__link:nth-child(-n+2) {
    border-top: none;
  }

  .genre__post__link:nth-child(3) {
    border-top: 2px solid black;
  }

  .genre__post__link:nth-child(2n)::after {
    display: none;
  }
}

@media only screen and (min-width: 1025px) {
  
  .genre__post__link:nth-child(-n+3) {
    border-top: none;
  }

  .genre__post__link:nth-child(3n)::after {
    display: none;
  }
}