@import '@/stories/_variables.scss';
// -----------------------
// PostCard styles
// [1] Card base
// [2] PostSelector
// [3] Randomizer

// Genre pages styles
// [4] Genre

// Published work
// [5] [...slug].js styles
// [CW] Content Warning styles
// -----------------------


// [1] Card base
.card__grid__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  column-gap: 24px;
  row-gap: 24px;
}

.card__container {
  display: flex;
  position: relative;
  padding: 16px;
  border-top: 2px solid var(--border-color);
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  text-decoration: none;
  gap: 16px;
  height: 182px;
  max-height: 182px;
  box-sizing: border-box;
  box-shadow: inset 1px 1px 1px 1px #30303040, 2px 2px 1px 0px #30303040;
  background-color: var(--background-color);
  overflow: hidden;
}

.card__contentbox {
  flex: 1 1 auto;
  min-width: 0;
}

.card__contentbox::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(transparent 150px, var(--background-color));
}

.card__title,
.card__creator {
  margin: 0;
  padding: 0;
  font-weight: bold;
  text-transform: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card__creator span {
  display: block;
  font-weight: 500;
}

.card__title--small {
  font-size: 20px;
}

.card__excerpt {
  font-family: $opm-font-basier;
  font-size: 0.8rem;
}

.card__thumbnail__frame {
  position: relative;
  align-self: center;
  width: 150px;
  height: 150px;
  flex: 0 0 auto;
}

.card__thumbnail {
  align-self: center;
  object-fit: cover;
}

.chip__wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0px 8px;
}

.card__chip {
  display: inline-block;
  margin-top: 4px;
  padding: 4px 12px;
  border-radius: 20px;
  background-color: #676767;
  font-size: 12px;
  color: $opm-color-white;
}

.card__chip--poetry {
  background-color: $opm-chip-poetry;
}

.card__chip--fiction {
  background-color: $opm-chip-fiction;
}
.card__chip--nonfiction {
  background-color: $opm-chip-nonfiction;
}
.card__chip--visual {
  background-color: $opm-chip-visual;
}
.card__chip--content {
  background-color: $opm-chip-content;
}
.card__chip--1 {
  background-color: $opm-chip-1;
}
.card__chip--2 {
  background-color: $opm-chip-2;
}
.card__chip--3 {
  background-color: $opm-chip-3;
}
.card__chip--4 {
  background-color: $opm-chip-4;
}
.card__chip--5 {
  background-color: $opm-chip-5;
}
.card__chip--6 {
  background-color: $opm-chip-6;
}
@media screen and (max-width: 768px) {
  .card__container {
    padding: 12px;
    height: 100px;
  }

  .card__container .card__title {
    font-size: 16px;
  }

  .card__container .card__creator {
    font-size: 14px;
  }

  .card__thumbnail__frame {
    width: 60px;
    height: 60px;
  }

  .card__chip {
    font-size: 10px;
  }
}

// [1B] Large Post Card

.card__container--large {
  flex-direction: row-reverse;
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  padding: 64px;
  height: 350px;
  max-height: 350px;
  max-width: 80vw;
}

.card__container--large .card__thumbnail__frame {
  width: 275px;
  height: 275px;
}

.card__container--large .card__excerpt {
  font-size: 1rem;
}

.card__container--large .card__contentbox::after {
  display: none;
}

// [2] Post Card Selector
.selector__container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.selector__wrapper {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.selector__controls {
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
}

.selector__button {
  padding: 4px 12px;
  border: 2px solid var(--border-color);
  border-radius: 20px;
  width: fit-content;
  font-weight: bold;
  box-shadow: 1px 1px;
}


.selector__divider {
  flex: 0 0 5px;
  margin: 0;
  background-color: $opm-background-black;
  border: none;
}

.selector__button--poetry {
  color: $opm-chip-poetry;
}

.selector__button--poetry.selector__button--selected {
  background-color: $opm-chip-poetry;
  color: white;
}

.selector__button--fiction {
  color: $opm-chip-fiction;
}

.selector__button--fiction.selector__button--selected {
  background-color: $opm-chip-fiction;
  color: white;
}

.selector__button--nonfiction {
  color: $opm-chip-nonfiction;
}

.selector__button--nonfiction.selector__button--selected {
  background-color: $opm-chip-nonfiction;
  color: white;
}

.selector__button--visualarts {
  color: $opm-chip-visual;
}

.selector__button--visualarts.selector__button--selected {
  background-color: $opm-chip-visual;
  color: white;
}

.divider--poetry {
  background-color: $opm-chip-poetry;
}

.divider--fiction {
  background-color: $opm-chip-fiction;
}

.divider--nonfiction {
  background-color: $opm-chip-nonfiction;
}

.divider--visualarts {
  background-color: $opm-chip-visual;
}

.selector__grid__container {
  flex: 1 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  gap: 16px 20px;
}

.selector__explore {
  margin-top: 16px;
  float: right;
  font-weight: 500;
  text-decoration: none;
}

.selector__explore span {
  text-decoration: underline;
}

.selector__explore:hover span {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .selector__container {
    width: 90%;
  }

  .selector__wrapper {
    flex-direction: column;
  }

  .selector__controls {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px
  }

  .selector__button {
    flex: 1 1 40%;
    height: 32px;
    font-size: 16px;
  }
}

@media screen and (min-width: 769px) {
  .selector__grid__container .card__container {
    border-top: none;
    border-left: 2px inset var(--border-color);
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }
}

// [3] Randomizer (Homepage)

.random__grid__container {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(49%, 1fr));
  gap: 16px;
}

@media screen and (max-width: 768px) {

  .random__desktop,
  .random__grid__container {
    display: none;
  }
}




// [4] Genre pages styling

.genre__main {
  margin-top: 24px;
  padding: 0;
  max-width: unset;
}

.genre__header__title {
  margin-top: 32px;
  margin-bottom: 64px;
}

.genre__header__row {
  margin-top: 8px;
}

.genre__header__line {
  margin: 0;
  margin-top: -3px;
  border: none;
  border-bottom: 3px solid var(--border-color);
}

.genre__header__link {
  position: relative;
  display: block;
  padding-top: 4px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 0;
  width: fit-content;
  text-transform: uppercase;
  font-family: $opm-font-helvetica;
  font-size: 24px;
  font-weight: 500;
  border: 3px solid var(--border-color);
  border-bottom: none;
  border-top-left-radius: 20px 30px;
  border-top-right-radius: 20px 30px;
  box-sizing: border-box;
  background-color: var(--background-color); // Review differnet coloration
  text-decoration: none;
}

.genre__header--selected {
  margin-bottom: 0px;
}

.genre__header__fiction {
  margin-top: -24px;
  margin-left: 40%;
}

.genre__header__nonfiction {
  margin-top: -24px;
  margin-left: 20%;
}

.genre__header__arts {
  margin-top: -24px;
  margin-left: 60%;
}

.genre__header__poetry {
  margin-top: -24px;
  margin-left: 50%;
}

.genre__nav {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  margin-bottom: 24px;
  width: fit-content;
}

.genre__nav button {
  font-size: 18px;
  font-weight: bold;
}

.genre__nav--selected {
  color: #C75468;
}
.genre__grid {
  margin: 32px;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  box-sizing: border-box;
  border: 2px solid var(--border-color);
  background-color: var(--background-color);
}

.genre__grid::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border: inherit;
  transition: 1500ms ease-out transform;
  transform: rotate(-1deg);
  z-index: -1;
}

.genre__post__link {
  position: relative;
  display: flex;
  padding: 16px 20px;
  min-height: 100px;
  text-decoration: none;
  font-weight: 500;
  // border-top: 2px solid var(--border-color);
  box-shadow: 0px 1px 0px 0px var(--border-color);
  box-sizing: content-box;
}

.genre__post__contentbox {
  flex: 1 1 auto;
  min-width: 0;
}

.genre__post__link::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  // background: var(--border-color);
  box-shadow: -8px 0px 0px 0px var(--border-color), 
  8px 0px 0px 0px var(--border-color);
}

.genre__post__link::after {
  right: 8px;
}

.genre__post__link:hover h2 {
  text-decoration: underline;
}

.genre__post__title {
  font-size: 20px;
  text-transform: initial;
}

.title--small {
  font-size: 16px;
}

.genre__post__creator {
  margin: 0px;
  font-size: 14px;
}

.genre__post__creator span {
  display: block;
}

.genre__post__link .chip__wrapper {
  position: absolute;
  left: 8px;
  bottom: 8px;
}

.genre__post__link .chip__wrapper .card__chip {
  padding: 2px 8px;
}

@media screen and (max-width: 768px) {
  .genre__header__row {
    margin-top: 32px;
  }

  .genre__header__fiction {
    margin-right: 20%;
  }

  .genre__header__nonfiction {
    margin-left: 5%;
  }

  .genre__header__arts {
    margin-right: 5%;
  }

  .genre__header__poetry {
    margin-left: 20%;
  }
}

@media only screen and (max-width: 1024px) and (min-width: 729px) {
  .genre__post__link h2 {
    font-size: 1rem;
  }

  .genre__grid {
    grid-template-columns: 1fr 1fr;
  }
  .genre__post__link:nth-child(2n)::after {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .card__grid__container {
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 1025px) {
  .genre__post__link:nth-child(3n)::after {
    display: none;
  }

  .post__content h1 {
    font-size: 4rem;
  }
}


// [5] [...slug].js Published Work Pages
.post__content {
  margin-top: $opm-spacing-500;
  padding-left: $opm-spacing-500;
  padding-right: $opm-spacing-500;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  line-height: 1.8rem;
}

.post__title {
  margin-top: $opm-spacing-600;
  margin-bottom: $opm-spacing-500;
  font-weight: normal;
  line-height: normal;
}

.post__content h3 {
  text-transform: capitalize;
  line-height: 1.5rem;
}


.post__content .meta {
  font-family: $opm-font-basier;
  line-height: 1.5rem;
  opacity: 0.5;
}

.post__content img {
  width: 100%;
}

.gold {
  color: #ff9900;
}

.copyright-footer {
  margin-top: $opm-spacing-500;
  opacity: 0.3;
}

.copyright-footer h4 {
  font-family: $opm-font-basier;
  line-height: 1.2rem;
}

.post__nav {
  padding: $opm-spacing-600;
  padding-bottom: $opm-spacing-300;
  display: flex;
  justify-content: space-between;
}

.post__nav a {
  color: var(--light-text-color);
  text-decoration: none;
}

.post__nav a:hover {
  text-decoration: underline;
}

.post__nav_next {
  flex: 1 1 0;
  text-align: right;
}

.cr-article {
  margin-top: 16px;
}

.rec__desc {
  text-align: center;
  font-family: $opm-font-apple;
}

.post__content .card__grid__container {
  line-height: normal;
}

@media only screen and (max-width: 728px) {
  .post__content {
    padding: $opm-spacing-300;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .genre__grid {
    grid-template-columns: 1fr;
  }

  .genre__post__link h2 {
    font-size: 1rem;
  }

  .genre__post__link:first-child {
    border-top: none;
  }

  .genre__post__link::after {
    display: none;
  }
}

// [CW] Content Warning component
.cw {
  position: fixed;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--background-color);
  z-index: 8;
}

.cw__contentbox {
  margin: 200px auto;
  width: 80%;
  height: auto;
  text-align: center;
}

.cw__btn__container {
  display: grid;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  grid-template-columns: 1fr 1fr;
  text-transform: uppercase;
  font-size: larger;
  column-gap: 25px;
}

.cw__btn {
  padding: 8px 16px;
  border: 2px solid var(--button-outline);
  border-radius: 25px;
  background-color: var(--background-color);
  color: var(--light-text-color);
  text-transform: uppercase;
}

.cw__cancel {
  background-color: var(--background-color);
  color: var(--light-text-color);
}

.cw__enter {
  background-color: var(--button-background);
  color: var(--light-text-color);
}