@import '@/styles/variables.scss';

.input {
  background-color: $opm-background-black;
  color: $opm-color-white;
  border-bottom: 5px solid $opm-color-white;
}

.input {
  margin: 0;
  padding-bottom: $opm-spacing-300;
  width: 100%;
  color: $opm-color-white;
  font-size: $opm-font-size-h1;
  font-weight: normal;
  box-sizing: border-box;
  border: none;
  border-bottom: 5px solid $opm-color-white;
  -webkit-padding-start: 0;
}

.input::placeholder {
  /* Firefox */
  opacity: $opm-opacity-placeholder;
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: $opm-opacity-placeholder;
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: $opm-opacity-placeholder;
}

.input:focus {
  outline: none;
  // -webkit-focus-ring-color: none;
}

.results {
  margin-top: $blockThree;
  padding-left: 0;
}

.results__item {
  margin-top: $opm-spacing-500;
  padding-bottom: $opm-spacing-300;
  border-bottom: 2px groove $opm-color-grey-light;
  list-style-type: none;
  line-height: inherit;

  a:hover {
    text-decoration: none;

    h2 {
      text-decoration: underline;
    }
  }
}

.results__item__contributor,
.results__item__genre {
  margin: 0;
  padding: 0;
}

.results__item__genre {
  opacity: 0.5; // subtext?
}

@media only screen and (max-width: 728px) {
  .input {
    font-size: 3rem;
  }
}