@import '@/stories/_variables.scss';

.wrapper {
  margin: 32px;
}

.toolbar__main {
  display: flex;
  position: relative;
  // background-color: $opm-background-black;
  border-bottom: 5px solid var(--border-color);

}

.filter__dropdown {
  flex: 0 0 auto;
}

.filter__button {
  height: 100%;
  font-size: $opm-font-size-h3;
  // color: $opm-color-white;
  opacity: $opm-opacity-placeholder;
}

.sr--offscreen {
  position: absolute;
  top: auto;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}
.query__input {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: $opm-spacing-300;
  width: 100%;
  color: var(--light-text-color);
  font-size: $opm-font-size-h1;
  font-weight: normal;
  background-color: inherit;
  border: none;
  // -webkit-padding-start: 0;
}

.query__input::placeholder {
  /* Firefox */
  opacity: $opm-opacity-placeholder;
}

.query__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: $opm-opacity-placeholder;
}

.query__input::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: $opm-opacity-placeholder;
}

.query__input:focus {
  outline: none;
  // -webkit-focus-ring-color: none;
}


.query__input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.query__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.query__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.query__input::-webkit-search-decoration,
.query__input::-webkit-search-cancel-button,
.query__input::-webkit-search-results-button,
.query__input::-webkit-search-results-decoration {
  display: none;
}

.filter__wrapper {
  position: absolute;
  right: 0;
  height: fit-content;
  width: fit-content;
  width: 600px;
  padding: 8px 16px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  border-top-right-radius: 0px;
  background-color: var(--background-color);
  z-index: 1;
}

.filter__container {
  display: flex;
  gap: 20px;
}

.filter__container__group {
  flex: 0 1 auto;
  padding: 0;
  border: none;
}

.filter__container__group legend {
  font-weight: 500;
}

.filter__container__group .chip {
  box-shadow: 0px 1px;
}

.filter__container__genre {
  min-width: 120px;
}

.filter__container__years {
  min-width: 140px;
}

.chip {
  display: inline-block;
  margin: 4px;
  padding: 4px 12px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-style: outset;
  border-radius: 20px;
  font-size: 1rem;
}

.filter__container .chip--selected {
  background-color: #F4BAB9;
}

.chip--genres.chip--selected {
  background-color: #F4BAB9;
}

.chip--collections.chip--selected {
  background-color: #B9E6F4;
}

.chip--contentYears.chip--selected {
  background-color: #B9F4D1;
}

.filter__clear_btn {
 float: right; 
 margin-top: 16px;
 font-weight: bold;
 color: #AC504E;
}

.results {
  margin-top: $opm-spacing-500;
  padding-left: 0;
}

.results__item {
  margin-top: $opm-spacing-500;
  border-bottom: 2px solid $opm-color-grey-light;
  list-style-type: none;
  font-weight: 500;
  overflow: hidden;
}

.results:nth-child(2) {
  margin-top: 0;
}

.results__item p {
  margin: 0;
  padding-bottom: 8px;
}

.results__grid {
  display: grid;
  grid-template-columns: 6fr 4fr 2fr;
  grid-template-areas:
    "title contributor tags"
    "excerpt excerpt excerpt";
  column-gap: 8px;
  align-items: end;
  text-decoration: none;
  font-family: $opm-font-apple;
}

.results__header {
  font-weight: bold;
  opacity: $opm-opacity-placeholder;
}

.results__item a:hover {
  text-decoration: underline;
}

.results__title {
  grid-area: title;
  font-family: $opm-font-apple;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

.results__text--match {
  color: #C05B5B;
}

.results__contributor {
  grid-area: contributor;
  font-size: 20px;
}

.results__contributor>span {
  display: block;
}

.results__tags {
  grid-area: tags;
  font-size: 20px;
}

.results__contentrow {
  grid-area: excerpt;
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
}

.results__thumbnail {
  flex: 1 0 auto;
  position: relative;
  margin-bottom: 8px;
  width: 200px;
  height: 200px;
  max-width: 200px;
}

.results__thumbnail img {
  object-fit: cover;
}

.results__excerpt {
  flex: 1 1 auto;
  font-size: 16px;
  opacity: $opm-opacity-placeholder;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.nav {
  margin: 16px auto;
  width: 100%;
  text-align: center;
}

.nav button {
  font-size: 20px;
}

.nav--selected {
  color: #C75468;
}

.view_more {
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.header {
  padding: 32px;
}



@media only screen and (max-width: 768px) {
  .header {
    padding: 16px;
  }

  .query__input {
    font-size: 1.5rem;
  }

  .filter__container {
    max-width: 100%;
    flex-direction: column;

  }
  
  .results__grid {
    grid-template-columns: 3fr 2fr;
    grid-template-areas: 
    "title contributor"
    "excerpt excerpt";
  }

  .results__header__creator {
    text-align: right;
  }
  .results__header__tag {
    display: none;
  }
  
  .results__contentrow {
    flex-direction: column;
  }

  .results__title,
  .results__contributor {
    font-size: 1rem;
  }

  .results__contributor {
    text-align: right;
  }
  
  .results__tags {
    display: none;
  }

  .results__thumbnail {
    margin-bottom: 4px;
    width: 150px;
    height: 100px;
    max-width: 150px;
  }
}

.theme--dark .query__input {
  color: white;
}

.theme--dark button {
  background-color: $opm-background-black;
  color: white;
  cursor: pointer;
}

.theme--dark .filter__container {
  background-color: $opm-background-black;

}