@import '@/stories/_variables.scss';

.main {
  font-weight: 500;
  padding: 0px $opm-spacing-600;
  // border-top: 1px solid black;
}

.guidelines {
  position: relative;
  font-weight: 500;
}

.guidelines h2 {
  margin-top: 32px;
}

.guidelines ul {
  padding-left: 40px;
}

.guidelines li {
  margin-top: 8px;
  margin-bottom: 8px;
}

.list__subitem {
  margin-left: 40px;
}

.guidelines .chip__wrapper {
  padding-left: 0px;
}

.chip__wrapper {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.chip__wrapper li {
  margin: 4px;
}

.text__chip {
  display: inline-block;
  margin-top: 4px;
  padding: 4px 8px;
  border-radius: 20px;
  background-color: #676767;
}

.guidelines .faq__list{
  padding-left: 0px;
  list-style-type: none;
}

.faq__list .list__subitem {
  list-style-type: ">   ";
}

@media screen and (max-width: 768px) {
  .main {
    padding: 0 16px;
  }
}