@import '@/stories/_variables.scss';

.search__container {
  position: relative;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
  width: auto;
}

.search__bar {
  display: flex;
  justify-content: center;
}

.search__label {
  position: absolute;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.search__input {
  padding: 3px 8px;
  height: 2rem;
  width: 400px;
  border: 2px solid black;
  border-radius: 8px;
  font-size: 1rem;
}

.result__list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: auto;
}

.result__item {
  border-bottom: 2px solid $opm-color-grey-darkest;
  padding-bottom: $opm-spacing-500;
  margin-bottom: $opm-spacing-300;
}

.result__title {
  margin: 0;
}

.result__description {
  margin: 0;
}

.backToTop {
  text-align: center;
}


.placeholder {
  color: grey;
}

.multiselect__container {
  position: absolute;
  right: 0;
  width: 350px;
  border: 2px solid black;
  border-radius: 8px;
  cursor: pointer;
  list-style-type: none;
  background-color: white;
}

.multiselect__toolbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  gap: 8px;

  svg {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.filter__item {
  padding: 8px;
  border-top: 2px solid #737373;
  display: flex;
  gap: 10px;
}

.filter__item--selected {
  padding: 2px 4px;
  border-radius: 10px;
}

@media screen and (max-width: 1028px) {
  .search__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: $opm-spacing-200;
  }

  .multiselect__container {
    position: initial;
  }

  .multiselect__dropdown {
    position: relative;
  }
}