@import '@/stories/_variables.scss';

.main__content {
  margin-left: auto;
  margin-right: auto;
  padding: 0px $opm-spacing-600;
  max-width: 1080px;
}

.toolbar__main {
  position: relative;
  display: flex;
  margin-top: 32px;
  margin-bottom: 60px;
  border-bottom: 2px solid var(--border-color);
}

.search__label {
  position: absolute;
  left: -1000px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.search__input {
  box-sizing: border-box;
  margin: 0;
  padding-bottom: $opm-spacing-300;
  width: 100%;
  color: var(--light-text-color);
  font-size: $opm-font-size-h1;
  font-weight: normal;
  background-color: inherit;
  border: none;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.search__input::placeholder {
  /* Firefox */
  opacity: $opm-opacity-placeholder;
}

.search__input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  opacity: $opm-opacity-placeholder;
}

.search__input::-ms-input-placeholder {
  /* Microsoft Edge */
  opacity: $opm-opacity-placeholder;
}

.search__input:focus {
  outline: none;
  // -webkit-focus-ring-color: none;
}

.query__input::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

.search__input::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

.search__input::-webkit-search-decoration,
.search__input::-webkit-search-cancel-button,
.search__input::-webkit-search-results-button,
.search__input::-webkit-search-results-decoration {
  display: none;
}

.placeholder {
  color: grey;
}

.filter__dropdown {
  flex: 0 0 auto;
}

.filter__button {
  height: 100%;
  font-size: $opm-font-size-h3;
  opacity: $opm-opacity-placeholder;
}

.filter__container {
  position: absolute;
  right: 0;
  padding: 8px;
  width: 350px;
  border: 1px solid var(--border-color);
  border-radius: 20px;
  border-top-right-radius: 0px;
  background-color: var(--background-color);
  z-index: 1;
}

.chip {
  display: inline-block;
  margin: 4px;
  padding: 4px 12px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-style: outset;
  border-radius: 20px;
  font-size: 1rem;
}

.filter__container .chip--selected {
  background-color: #F4BAB9;
}

.result__list {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  width: auto;
}

.result__item {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: $opm-spacing-500;
  margin-bottom: $opm-spacing-500;
}

@media screen and (max-width: 768px) {
  .main__content {
    padding: 0 16px;
  }
}

@media screen and (max-width: 1028px) {
  .search__container {
    flex-direction: row;
    flex-wrap: wrap;
    gap: $opm-spacing-200;
  }

  .multiselect__container {
    position: initial;
  }

  .multiselect__dropdown {
    position: relative;
  }
}