.foreback-container {
  margin-bottom: 40px;
}

.foreground-square {
  color: white;
  transform: translate(-50px, 25px);
}

// .color__section {}

.color__section__flexbox {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.circle__text {
  // mix-blend-mode: difference;
  // color: white;
}

.circle__text--dark {
  color: white;
}