@import '@/stories/_variables.css';
@import '@/stories/_variables.scss';

.block {
  border: 1px solid grey;
  padding: 8px;
  overflow: hidden;
}

.block__row {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.block__row:last-child {
  margin-bottom: 0px;
}

.monospace {
  font-family: $opm-font-monospace;
}

li {
  list-style-type: none;
}

// Iconography
.icon__grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.icon__item {
  text-align: center;
}
.icon__item button {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px;
}

.icon__item--dark button {
  background-color: var(--opm-background-black);
}

// Typography
.family {
  display: div;
  font-family: $opm-font-apple;
  
  &__header {
    font-size: 16px;
    color: #757575;
  }

  h2 {
    text-transform: unset;
    font-size: 40px;
    font-weight: bold;
  }
}

.typo-token__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 32px;
  border-top: 1px solid black;

  &__header {
    margin-top: 8px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #757575;
  }

  &__info {
    margin: 0;
    font-weight: bold;
  }
}

.font-arial {
  font-family: $opm-font-arial;

  &-title {
    font-size: 4rem;
  }

  &-h1 {
    font-size: 2rem;
  }

  &-upper {
    text-transform: uppercase;
  }
}